.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust to set the height of the container */
    padding: 20px; /* Add space from the left and right */
    margin-top: 1vh; /* Add space from the top */
    margin-bottom: 1vh; /* Add space from the bottom */
  }
  
  .login_box {
    width: 350px; /* Adjust to set the width of the login box */
  }

 